.principal{
  background: #CCCCCC;
  padding: 30px;
}

#banner {
  width: 100%;
}

.titulo-principal {
  padding-left: 20px;
  text-align: center;
  font-size: 35px;
}

p {
  text-align: center;
  font-size: 20px;
}

#missao {
  font-size: 25px;
}

em strong {
  color: #FF0000;
}

.itens {
  font-style: italic;
  font-size: 20px;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
  font-size: 35px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}